body {font-family: tahoma; color: #3f3f3f;}
a {text-decoration: none; color: #67a; letter-spacing: -.1em;}
a:hover {color: #e30; text-decoration: underline;}
p {margin: 1em 0; line-height: 1.3em;}
strong {font-weight: bold; letter-spacing: -.1em}
h3 {font-size: 1.7em; margin-top: 1.3em; letter-spacing: -.1em}
pre {line-height: 1em; font-size: .8em}
kbd {font-family: monospace;}
li {list-style: square; margin-left: 1.3em; line-height:1.3em;}

form, input, select {display: inline;}


/*** Layout of things ***/


#content > div {border: dashed 1px #ccc; margin: .3em; padding: .3em;}