/** Base theme definition **/

body {
    color: #000000;
    font-family: tahoma;
    font-size: .7em;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {    
    clear: both;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana;
    color: rgba(0,0,0,.6); 
}

a:hover {
    color: rgba(0,0,0,.4); 
}

/** Fonts and Texts **/
h3 {
    clear: both;
    text-decoration: none;
    margin-bottom: .2em;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
}

h2 {
    clear: both;
    padding-top: 2em;
    margin-bottom: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
}

h1 {
    clear: both;
    font-size: 1.5em;
    font-weight: bold;    
    text-decoration: none;
}

p {
    margin-bottom: 1em;
}

li {
    margin: .5em;
    margin-left: 2em;
}

ul {
    list-style: square;
}

ol {
    list-style: lower-alpha;
}

kbd {
    background-color: #ddd;
    font-family: "courier";
}

strong {
    font-weight: bold;
}

/** Layout **/
div#top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    
    font-size: 2em;
    
    background-color: #333333;
    color: #bcb747;
}

div#top-bar div {
    margin: 0 auto;
    width: 40em;
}

div#top-bar div span.at {
    font-family: Arial Black;
    font-size: 1.6em;
    color: rgba(255,255,255,.1); 
    
}

div#blog {
    margin: 10em auto;
    width: 80em;
}

div.article {
    margin-top: 13em;
    padding-bottom: 1.3em;
}

div.article div.title {
    position: relative;
}

div.article div.title h3 {
    padding-left: 2.3em;
}

div.article div.title div.date {
    position: absolute;
    right: 0;
}

div.article img.avatar {
    position:absolute;
    bottom: 0;
    width: 3.7em;
    margin-right: .7em;
}

div.article div.author {
    padding-left: 7em;
    margin-bottom: 3em;
}

div.article div.headline {
    margin-bottom: 1.3em;
}

div.article div.text {
    padding: 0 1em;
}

div.article div.gallery {
    text-align: center;
}

div.article  div.gallery div.image {
    display: inline-block;
}

/** SyntaxHighligther theme adaptation **/

.syntaxhighlighter {
    max-width: 60em;
    margin: .7em auto;
    padding: .2em;
    border: 1px solid #ddd;
    font-size: 1em;
}

.syntaxhighlighter  .gutter .line{
    padding-right: .2em;
    text-align: right;
}

.syntaxhighlighter  .code .container {
    font-family: courier;
    padding-left: 1em;
}