/** Base theme definition **/

body {
    color: #000000;
    font-family: tahoma;
    font-size: .7em;
    background-color: #555;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {    
    clear: both;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana;
    color: rgba(0,0,0,.6); 
}

a:hover {
    color: rgba(0,0,0,.4); 
}

/** Fonts and Texts **/
h3 {
    clear: both;
    text-decoration: none;
    margin-bottom: .2em;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
}

h2 {
    clear: both;
    padding-top: 2em;
    margin-bottom: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
}

h1 {
    clear: both;
    font-size: 1.5em;
    font-weight: bold;    
    text-decoration: none;
}

p {
    margin-bottom: 1em;
}

li {
    margin: .5em;
    margin-left: 2em;
}

ul {
    list-style: square;
}

ol {
    list-style: lower-alpha;
}

kbd {
    background-color: #ddd;
    font-family: "courier";
}

strong {
    font-weight: bold;
}

/** Layout **/
div#container { background-color: #fff; min-height: 50em; padding-top: 13em; }
div#top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2em;
    
    line-height: 2em;
    font-size: 2em;
    
    background-color: #333333;
    color: #fba827;
    color: #bcb747;
}

div#top-bar div {
    margin: 0 auto;
    width: 40em;
}

div#top-bar div span {
    margin-top: 0;
    display: inline-block;
}

div#top-bar div span.at {
    font-family: Arial Black;
    color: #555; 
}

div#top-bar select {
    min-width: 13em;
}

div#top-bar form {
    float: right;
}

div#top-bar input#search {
    width: 21em;
}

div#bottom-bar {
    min-height: 13em;
    border-top: 13px solid #fba827;
    border-top: 13px solid #bcb747;
    background-color: #555;
    
    padding-top: 3em;
    padding-bottom: 1em;
}

div#bottom-bar div {
    margin: 0 auto;
    width: 80em;
}

div#bottom-bar a {
    color: #999;
}

div#blog {
    position: relative;
    margin: 0 auto;
    width: 80em;
    height: 100%;
}

div#blog div#archive {
    position: absolute;
    top: 0;
    right: 0;
    width: 20em;
    padding-left: 3em;
}

div.article {
    margin-right: 23em;
    margin-bottom: 13em;
    padding-bottom: 1.3em;
}

div.article div.title {
    position: relative;
}

div.article div.title a {
    color: #000;
}

div.article div.title h3 {
    padding-left: 2.3em;
}

div.article div.title div.date {
    position: absolute;
    right: 0;
}

div.article img.avatar {
    position:absolute;
    bottom: 0;
    width: 3.7em;
    margin-right: .7em;
}

div.article div.author {
    padding-left: 7em;
    margin-bottom: 3em;
}

div.article div.headline {
    margin-bottom: 1.3em;
}

div.article div.text {
    padding: 0 1em;
}

div.article div.gallery {
    text-align: center;
}

div.article  div.gallery div.image {
    display: inline-block;
}

div.article.edit input, div.article.edit textarea {
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
    padding: .3em;
    margin-top: .3em;
    margin-bottom: .7em;
    background-color: #fff;
}

div.article.edit textarea {
    height: 10em;
}

/** SyntaxHighligther theme adaptation **/

.syntaxhighlighter {
    max-width: 60em;
    margin: .7em auto;
    padding: .2em;
    border: 1px solid #ddd;
    font-size: 1em;
}

.syntaxhighlighter  .gutter .line{
    padding-right: .2em;
    text-align: right;
}

.syntaxhighlighter  .code .container {
    font-family: courier;
    padding-left: 1em;
}