/** Base theme definition **/

body {
    color: #ffffff;
    font-family: tahoma;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana;
    color: rgba(255,255,255,.4); 
}

a:hover {
    color: #ffffff;
    color: rgba(255,255,255,.6); 
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {    
    clear: both;
}

/** kb layout **/
div#background { position: fixed; height: 100%; width: 100%;}
div#background div#background-top {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-color: #3b5998;
}

div#background div#background-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13%;
    
    background-color: #293e64;
}

div#background div#background-bottom div.title {
    margin-top: -.8em;
    margin-right: 1em;
    font-size: 3em;
    font-family: "Arial Black";
    color: #293e64;
    text-align: right;
}

div#search {
    width: 31%;
    position: fixed;
    right: 0;
    margin: 1.3em;
}

div#search input.search {
float:left;
    padding: .2em;
    width: 70%;
    background-color: #4c6aa9; 
    color: rgba(255,255,255,.4);
    border: none;
    font-family: "Arial Black";
    font-size: 1.5em;
    border-right: solid .3em #77ba9b;
}

div#search span.search {
    letter-spacing: -.1em;
    margin-left: -.3em;
    padding: .2em;
    font-family: "Arial Black";
    font-size: 2.4em;
    color: #77ba9b;
    cursor: pointer;
}

div#utilities {
    display: none;
    top: 0;
    position: absolute;
    padding: .5em;
}

div#content {
    width: 69%;
    position: absolute;
}


div.kb.form {
    margin-top: 7em;
}

div.input {
    position:relative;
}

div.captcha {
    padding-left: 100px;
}

div.input input, div.input textarea, div.input select, div.cke, div.suggestion-box {
    width: 600px;
    margin-left: 150px;
}

div.suggestion-box {
    padding: 1em;
}

div.suggestion-box span {
    line-height: 1.5em;
    margin: .5em;
    background-color: #eee;
    text-decoration: underline;
    cursor: pointer;
}

div.input textarea {
    width: 40em;
    height: 10em;
}

div.input label {
    position:absolute;
    display: inline-block;
}

div.tag-cloud {
    margin: 2em auto;
    width: 90%;
    padding: 1.5em; 
    
    text-align: center;
    
    
}

div.tag-cloud a {
    padding: .2em;
    letter-spacing: -.1em;
    color: #b6a754;
    margin: 5px 0;
    font-weight: bold;
    text-decoration: none;
    font-family: "Arial Black";
}

div.kb {

    margin: 2.5em auto;
    min-width: 40em;
    max-width: 60em;
    
    
    padding: 1.5em;
    
    background-color: #4c6aa9; 
    
    font-size: .8em;
}

div.kb div.type {
    float: left;
    font-weight: bold;
    color: rgba(0,0,0,.3); 
}

div.kb div.tags {
    float: right;
    color: rgba(0,0,0,.3); 
}

div.kb div.clear {
    clear: both;
    height: .3em;
}

div.kb div.issue {
    margin-bottom: .5em;
    border-bottom: 1px solid rgba(255,255,255,.6); 
}

div.kb div.checklist {
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(255,255,255,.6); 
}

div.kb img {
    max-width: 100%;
    margin: .3em;
}

div.kb a img {
    padding: 1px;
    border: 1px solid #999;
}

div.kb div.solution {
    padding: .3em;
    margin-top: 1em;
}   

div.kb div.solution.even {
    background-color: #639bf1;
    background-color: rgba(255,255,255,.2); 
    background-color: rgba(0,0,0,.2); 
}

div.kb div.solution.odd {
    background-color: #77ba9b;
    background-color: rgba(255,255,255,.4); 
    background-color: rgba(255,255,255,.2); 
    background-color: rgba(0,0,0,.1); 
}

div.kb p {
    margin-bottom: 1em;
}

/** Fonts and Texts **/
h3 {
    clear: both;
    text-decoration: none;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    
}

h2 {
    clear: both;
    padding-top: 2em;
    margin-bottom: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
    color: #b6a754;
}

h1 {
    clear: both;
    font-size: 1.5em;
    font-weight: bold;    
    text-decoration: none;
    color: #b6a754;
}

li {
    margin: .5em;
    margin-left: 2em;
}

ul {
    list-style: square;
}

ol {
    list-style: lower-alpha;
}

kbd {
    background-color: #ddd;
    font-family: "courier";
}

strong {
    font-weight: bold;
}

/** SyntaxHighligther theme adaptation **/

.syntaxhighlighter {
    max-width: 60em;
    margin: .7em auto;
    padding: .2em;
    border: 1px solid #ddd;
    font-size: .8em;
}

.syntaxhighlighter  .gutter .line{
    padding-right: .2em;
    text-align: right;
}

.syntaxhighlighter  .code .container {
    font-family: courier;
    padding-left: 1em;
}