/** Base theme definition **/

body {
    color: #ffffff;
    font-family: tahoma;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {    
    clear: both;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana;
    color: rgba(255,255,255,.4); 
}

a:hover {
    color: #ffffff;
    color: rgba(255,255,255,.6); 
}

span.button  {
    display: block;
    padding: .4em;
    letter-spacing: -.1em;
    color: #3b5998; 
    font-weight: bold;
    text-decoration: none;
    font-family: "Arial Black";
    font-size: 2em;
    unicode-bidi:bidi-override;
    direction:rtl;
    cursor: pointer;
}

span.button:first-letter  {
    color: #BAD07F;
}


/** kb layout **/
div#background-top {
    position: fixed;
    width: 100%;
    height: 100%;
    
    background-color: #3b5998;
}

div#background-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 13%;
    
    
    text-align: center;
    
    background-color: #293e64;
}

div#background-top div#shark {
    visibility: hidden;
    position: absolute;
    
    bottom: 0;
    left: 60%;    
    
    width: 125px;
    height: 85px;
    
    background: url('../img/shark.png') no-repeat;
    background-size: contain;
    
}

div#background-bottom div.title {
    margin-top: -.8em;
    margin-right: 1.5em;
    font-size: 3em;
    font-family: "Arial Black";
    color: #293e64;
    text-align: right;
}

div#background-bottom div.title  a {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: "Arial Black";
    color: #293e64;
    text-align: right;
}


div#background-bottom a {
    padding: .2em;
    letter-spacing: -.1em;
    color: #3b5998; 
    margin: 5px 0;
    font-weight: bold;
    text-decoration: none;
    font-family: "Arial Black";
}

div#search {
    margin: 1.3em;
    position: relative;
    width: 31%;
    height: 81%;
    position: fixed;
    right: 0;
}

div#search input.search {
    margin: 0;
    margin-bottom: 2px;
    padding: 4px; 
    padding-left: .3em;
    width: 89%;
    height: 45px;
    background-color: #4c6aa9; 
    color: rgba(255,255,255,.4);
    border: none;
    font-family: "Arial Black";
    font-size: 32px;
}

div#search span.search {
    position: absolute;
    right: 0;
    top: 0;
    width: 39px;
    height: 39px;
    cursor: pointer;
    border: solid 7px #BAD07F;
    background: url('../img/search-nu.png') no-repeat;
    background-size: contain;
}

div#search table.type {
    width: 100%;
    margin-bottom: 2px;
}

div#search table.type td {
    padding: .7em;
    text-align: center;
}

div#search table.type td a {
    padding: .2em;
    letter-spacing: -.1em;
    color: #293e64; 
    margin: 5px 0;
    font-weight: bold;
    text-decoration: none;
    font-family: "Arial Black";
}

div#search table.type td a.active {
    color: #b6a754; 
}

div#search div.list {
    width: 100%;
    max-height:85%;
    overflow-y: auto;
    overflow-x: hidden;
}

div#search div.list div.kb, div.kb.drag {
    margin-bottom: 2px;
    padding: .7em;
    
    width: 100%;
    
    background-color: #4c6aa9; 
    font-size: .8em;
}

body > div.kb.drag {
    width: 30%;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana;
    color: rgba(255,255,255,.6); 
}

div#search div.list div.kb span.id, div.kb.drag span.id {
    font-weight: bold;
    color: #b6a754;
}

div#search div.list div.kb span.title, div.kb.drag, span.title {
    font-weight: normal;
}

div#oops {
    position: fixed;
    margin-top: 10em;
    width: 67%;
    font-size: .8em;
}

div#oops div {
    padding: 1.5em;
    margin: 0 auto;
    width: 50em;
    min-height: 20em;
    background-color: rgba(0,0,0,.2); 
}

div#oops div h1 {

    margin-bottom: .5em;
    border-bottom: 1px solid rgba(255,255,255,.6); 
}

div#knowledge-base {
    padding-top: 3em;
    padding-bottom: 7.5em;
    position: absolute;
    width: 67%;
}

div#knowledge-base div.kb {

    margin: 0 auto;
    margin-bottom: 2.5em;
    min-width: 40em;
    max-width: 60em;
    
    
    padding: 1.5em;
    
    background-color: #4c6aa9; 
    background-color: rgba(0,0,0,.2); 
    
    font-size: .8em;
}

div.kb div.type {
    float: left;
    font-weight: bold;
    color: rgba(0,0,0,.3); 
}

div.kb div.tags {
    float: right;
    color: rgba(0,0,0,.3); 
}

div.kb div.clear {
    clear: both;
    height: .3em;
}

div.kb div.issue {
    margin-bottom: .5em;
    border-bottom: 1px solid rgba(255,255,255,.6); 
}

div.kb img {
    max-width: 100%;
    margin: .3em;
}

div.kb a img {
    padding: 1px;
    border: 1px solid #999;
}

div.kb div.description {
    text-align: justify;
}

div.kb div.solution {
    text-align: justify;
    padding: .3em .7em;
    margin-top: 1em;
}

div.kb div.solution:nth-of-type(1) {
    margin-top: 3em;
}

div.kb div.solution a.title{
    display: block;
    margin-bottom: 1em;
    font-weight: bold;
}

div.kb div.solution a.title span.id {
    color: #b6a754; 
}

div.kb div.solution:nth-of-type(2n+1) {
    background-color: #639bf1;
    background-color: rgba(255,255,255,.2); 
    background-color: rgba(0,0,0,.3); 
}

div.kb div.solution:nth-of-type(2n+2) {
    background-color: #BAD07F;
    background-color: rgba(255,255,255,.4); 
    background-color: rgba(255,255,255,.2); 
    background-color: rgba(0,0,0,.1); 
}

div.kb p {
    margin-bottom: 1em;
}


/** kb form **/
div.kb.edit div.input {
    position: relative;
    background-color: rgba(0,0,0,.1); 
    border: none;
    margin-bottom: .7em;
}

div.kb.edit div.drop {
    position: relative;
    display: block;
    padding: 1em;
    font-size: 1em;
    min-height: 2em;
    height: auto;
    width: 100%-1em;
    color: #3b5998;
    border: dashed 2px rgba(0,0,0,.2);
}

div.drop > span {
    position: absolute;
    margin-bottom: 1em;
    bottom: 0;
}

div.kb.edit div.input h3 {
    margin: 0;
    padding: .3em;
    background-color: rgba(0,0,0,.2); 
    color: #b6a754;
}

div.kb.edit div.input input, div.kb.edit div.input select, div.kb.edit div.input textarea {
    padding: .5%;
    margin: 0;
    width: 99%;
    height: 99%;
    background: #445f97;
    background: #ffffff;
    border: none;
    border-right: solid .3em #BAD07F;
    border-right: none;
    color: #ffffff;
    color: #000000;
    font-family: tahoma;
    font-size: 1.5em;
    font-size: 1em;
}

div.kb.edit div.input textarea, div.kb.edit div.input div.editor {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

div.kb.edit div.input select {
    box-sizing:content-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

div.kb.edit div.suggestion-box {
    margin: 0;
    width: auto;
    padding: 1em;
}

div.kb.edit div.suggestion-box span {
    line-height: 1.5em;
    margin: .5em;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3em;
    background: none;
    color: #b6a754;
}

/** Fonts and Texts **/
h3 {
    clear: both;
    text-decoration: none;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    
}

h2 {
    clear: both;
    padding-top: 2em;
    margin-bottom: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
    color: #b6a754;
}

h1 {
    clear: both;
    font-size: 1.5em;
    font-weight: bold;    
    text-decoration: none;
    color: #b6a754;
}

li {
    margin: .5em;
    margin-left: 2em;
}

ul {
    list-style: square;
}

ol {
    list-style: lower-alpha;
}

kbd {
    background-color: #ddd;
    font-family: "courier";
}

strong {
    font-weight: bold;
}
/** SyntaxHighligther theme adaptation **/

.syntaxhighlighter {
    max-width: 60em;
    margin: .7em auto;
    padding: .2em;
    border: 1px solid #ddd;
    font-size: .8em;
}

.syntaxhighlighter  .gutter .line{
    padding-right: .2em;
    text-align: right;
}

.syntaxhighlighter  .code .container {
    font-family: courier;
    padding-left: 1em;
}