/** Base theme definition **/

body {font-family: tahoma; color: #3f3f3f;}
a {text-decoration: none; color: #67a; letter-spacing: -.1em;}
a:hover {color: #e30; text-decoration: underline;}
p {margin: .7em 0; line-height: 1.3em;}
strong {font-weight: bold; letter-spacing: -.1em;}
h1 {color: #fb0; font-size: 2.1em; margin-bottom: 1.3em; letter-spacing: -.1em}
h3 {font-size: 1.7em; margin-top: 1.3em; letter-spacing: -.1em;}

label {background-color: #fff; margin: 1em;}
form {display: inline; }
input, select {display: inline; margin: 1em; }
input.wide, select.wide {width: 31em;}
textarea {width: 100%; height: 31em; margin: 1em;}

td {padding: .3em;}

/** Layeout **/
div#top-bar {position: absolute; top: 0; width: 100%; min-height: 1.3em; border-bottom: dashed 1px #ddd;}
div#top-bar div#form {position: absolute; right: 0; padding-right: 1.3em;}

div#navigation {position:fixed; top: 0; left: 0; margin-left: 1em; width: 10em; background: url('../img/nu-sebataz.png') no-repeat top center; background-size: 10em 10em;}
div#navigation div.navigation-area:first-child {margin-top: 10em;}
div#navigation div.navigation-area {margin-top: 1em; margin-left: 3em;}
div#navigation div.navigation-area ul {margin-left: 1em;}

div#content {max-width: 40em; margin-left: 14em; text-align: justify;}

/** Components **/
div.spinner { width: 100%; height: 15px; background: url('../img/spinner.gif') no-repeat center center; }

div.spinner.fixed { position: fixed; height: 100%; }

div#preview { /* box-shadow: 0 0 200px #fff; */ }

div#preview img { display: block; }
div.gallery {text-align: center;}
div.gallery div.image, div.gallery div.disegni {display: inline-block;}



/** BLooooöööög **/

div.article {border-bottom: dotted 1px #ccc; margin-top: 10em; margin-bottom: 3em;}
div.article div.title img {height: 3em; float: left; margin: .3em;}
div.article div.author {margin-bottom: 3em;}
div.article div.headline {margin: 0 2em;}
div.article div.text {margin: 2em 3em;}


div.article h1 {margin: 0;}
div.article h1 a {color: #fb0;}
div.article img {max-width: 48em;}
div.article ol li {list-style: square; margin: 1.3em;}
div.article pre {font-size: .9em;}

div.comment {margin: 2em 0;}
div.comment div.comment-author {font-size: .8em; font-weight: bold; color: #aaa;}

div.comment-form  {margin: 2em 0;}
input.comment-author {border: solid 1px #aaa;}
textarea.comment-text {width:100%; height: 10em; border: solid 1px #aaa;}



/** Saiiit **/
div#navigation li ul li a {margin: .5em; color: #bbb;}



/** Riid **/
#container { position: relative; width: 980px; margin: 3em auto; }
#outbox { position: absolute; width: 780px; margin-top: 50px; padding-left: 200px; padding-bottom: 150px; z-index: -2; background: url('../img/coffee-stain.png') no-repeat right bottom; }
#box { margin-top: -5px; margin-left: -5px; border: 10px solid #fff; width: 600px; min-height: 750px; box-shadow: 5px 5px 20px #666; }
#foot { font-size: .9em; color: #777; padding-left: 50px; }
.shadow { background-color: #fff; box-shadow: 5px 5px 20px #666; width: 620px; margin-top: -5px; margin-left: -5px; padding-top: 1px; padding-bottom: 5px; }

#foot a { color: #333; }

table.index {width: 100%; margin-bottom: .5em;}
table.index tr td {padding: 0 .3em;}
table.index tr td:nth-child(2) {border-bottom: dotted 1px #ccc; width: 100%}